{#<ol class="breadcrumb">
  <li><a href="/services">service</a></li>
  <li><a href="/service/{{service}}">{{service}}</a></li>
  <li><a href="/service/{{service}}/{{environ}}">{{environ}}</a></li>
  <li class="active"><a href="/config/{{service}}/{{environ}}">config</a></li>
</ol>

<ul class="nav nav-pills">
    <li role="presentation"><a href="/service/{{service}}/{{environ}}">Service</a></li>
    <li role="presentation"><a href="/instancestatus/{{service}}/{{environ}}">Instance Status</a></li>
    <li role="presentation"><a href="/instances/{{service}}/{{environ}}">Instance Details</a></li>
    <li role="presentation" class="active"><a href="/config/{{service}}/{{environ}}">Config</a></li>
    <li role="presentation"><a href="/stats/{{service}}/{{environ}}">Stats</a></li>
    <li role="presentation"><a href="/alerts/{{service}}/{{environ}}">Alerts</a></li>
    <li role="presentation"><a href="/visual/{{service}}/{{environ}}">Visual</a></li>
</ul>
#}

<div class="panel panel-info">
    <pre>{{raw}}</pre>
</div>
